<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/blog.css">
    <title>Blog Post</title>
</head>

<body>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <a class="navbar-brand" href="NHOM2.html">NHÓM 2 K20-IT06</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="blog-post.html">
                        <span class="sr-only">current</span>TRANG CHỦ
                    </a>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="">Giới thiệu về trường học</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="https://whom-inspections-webshots-pst.trycloudflare.com ">Đăng nhập</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="register.html ">Đăng ký</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2 rounded-0 " type="search " placeholder="Search " aria-label="Search ">
                <button class="btn btn-outline-success rounded-0 my-2 my-sm-0 " type="submit ">Tìm kiếm</button>
            </form>
        </div>
    </nav>
    <!-- navbar ends -->
    <!-- main content start  -->
    <div class="container mt-5 ">
        <div class="row main-section ">
            <div class="col-sm-12 col-md-9 col-lg-9 ">
                <div class="card rounded-0 shadow-sm ">
                    <div class="card-header ">
                        <span>By</span>
                        <span class="text-success "> HPC</span>
                        <span>On</span>
                        <span class="text-success "> 09/02/2021</span>
                    </div>
                    <div class="card-body ">
                        <img class="card-img-top " src="img/55.png" alt="bootstrap simple blog ">
                        <hr>
                        <h2 class="card-title ">DẤU SON MANG TÊN TRƯỜNG CAO ĐẲNG CÔNG NGHỆ BÁCH KHOA HÀ NỘI</h2>
                        <p class="card-text ">Trường Cao đẳng Công nghệ Bách khoa Hà Nội (HPC) là đơn vị giáo dục nghề nghiệp quốc gia có nhiệm vụ đào tạo chính quy nguồn nhân lực có trình độ chuyên môn và tay nghề cao đáp ứng nguồn nhân lực cho xã hội. Dưới mái trường HPC,
                            lớp lớp thế hệ sinh viên được học tập, rèn luyện, nâng cao kiến thức, tay nghề để tự tin kiến tạo tương lai, vững vàng bước vào cuộc sống. Tiền thân là trường Trung cấp Công nghệ Bách khoa Hà Nội được thành lập theo Quyết định
                            số 5654/QĐ – UB, ngày 26/9/2001 của Chủ tịch UBND TP Hà Nội. Với những nỗ lực vượt bậc của tập thể đội ngũ lãnh đạo, các cán bộ, giảng viên, công nhân viên, Nhà trường đã vượt qua bao khó khăn, thách thức, trở thành một đơn
                            vị giáo dục có sự phát triển mạnh mẽ. Năm 2018, là một dấu mốc lớn tiếp tục khẳng định vị thế, uy tín của nhà trường. Đó là, Trường được nâng lên trở thành Trường Cao đẳng Công nghệ Bách khoa Hà Nội, theo Quyết định số 189/QĐ
                            – LĐTBXH, ngày 2/3/2018 của Bộ Lao động Thương binh và Xã hội. Đây là bước ngoặt quan trọng, đánh dấu sự trưởng thành vượt bậc của Nhà trường trên hành trình xây dựng và phát triển sự nghiệp giáo dục 17 năm qua.</p>
                        <p>Từ một cơ sở đào tạo ban đầu, quy mô của trường ngày càng mở rộng với 2 cơ sở đào tạo và Trung tâm đào tạo quốc tế HPC Bắc Giang, đều được đầu tư cơ sở hạ tầng, vật chất, trang thiết bị giảng dạy đầy đủ, hiện đại, các phòng học
                            theo tiêu chuẩn quốc tế, ký túc xá được trang bị đầy đủ đáp ứng cuộc sống của sinh viên. Cơ sở Hà Nội: 18- 22/322 – Đường Nhân Mỹ, phường Mỹ Đình 1, quận Nam Từ Liêm, TP Hà Nội (đối diện SVĐ Quốc gia Mỹ Đình) Cơ sở Hải Phòng:
                            Số 176, đường Quán Trữ, Quận Kiến An, TP Hải Phòng Cơ cấu tổ chức của trường ngày càng vững mạnh với chất lượng cán bộ, giảng viên liên tục được bổ sung, bồi dưỡng, nâng cao trình độ đáp ứng yêu cầu giảng dạy trong thời kì
                            mới. Hơn 140 cán bộ, giảng viên, 100% có trình độ đại học và trên đại học, thực sự là những người thầy, người cô tâm huyết với nghề đã thổi một luồng gió mới trong hoạt động công tác giảng dạy và học tập của nhà trường.</p>
                        <p>Trường có 12 chuyên ngành đào tạo hệ cao đẳng, trung cấp và sơ cấp nghề, với các chuyên ngành tiêu biểu như: Du lịch – khách sạn, Quản trị Kinh doanh, Chăm sóc sắc đẹp, Kế toán Thương mại, Công nghệ Thông tin, Điều dưỡng, Tiếng
                            Hàn, Tiếng Nhật… Tính đến tháng 1/2018, trường có 3000 sinh viên đang theo học các ngành nghề, và trên 22.000 sinh viên đã tốt nghiệp đóng góp cho xã hội một nguồn nhân lực không nhỏ. Đặc biệt, sinh viên học tập các chuyên
                            ngành của trường, đều được đào tạo Tiếng Hàn, Tiếng Nhật. Phải khẳng định, trong chặng đường 17 năm xây dựng, phát triển, nhà trường luôn không ngừng cố gắng, nỗ lực vượt mọi khó khăn, thử thách, phấn đấu vươn lên, trở thành
                            một đơn vị giáo dục uy tín, chất lượng, gắn đào tạo với hướng nghiệp, cung ứng việc làm cho sinh viên, đúng với chủ trương của Đảng và Nhà nước, Bộ GD &ĐT về đổi mới giáo dục trong giai đoạn hiện nay. Năm 2016, nhà trường đã
                            vinh dự được nhận Bằng khen của Bộ Giáo dục & Đào tạo vì có thành tích đào tạo xuất sắc. Có thể nói, những bằng khen, giấy khen về thành tích trong giáo dục và dạy nghề được Bộ Giáo dục Đào tạo, UBND TP Hà Nội, Hội Khuyến học
                            Việt Nam… trao tặng, là dấu ấn đậm nét khẳng định sự nỗ lực phấn đấu của Nhà trường. Phát huy những thành tích đã đạt được, trong những giai đoạn tiếp theo trường Cao đẳng Công nghệ Bách khoa Hà Nội sẵn sàng đón nhận những
                            cơ hội và thách thức mới, tiếp tục nỗ lực và đặt ra mục tiêu, kế hoạch đào tạo cụ thể, tập trung mọi nguồn lực, để xây dựng và phát triển sự lớn mạnh của nhà trường. Phấn đấu đến năm 2025 trở thành trường Đại học đào tạo đa
                            ngành uy tín hàng đầu về chất lượng và danh tiếng cả trong nước và khu vực Đông Nam Á. Chương trình đào tạo được chuẩn hóa, hiện đại, tương thích với chương trình đào tạo của các trường trong khu vực; Đồng thời nhà trường tăng
                            cương hợp tác chặt chẽ với các Tập đoàn, doanh nghiệp, đơn vị sử dụng lao động, gắn đào tạo với hướng nghiệp, cung ứng việc làm cho sinh viên ngay sau khi tốt nghiệp.</p>
                    </div>
                    <div class="card-footer ">
                        <div class="row ">
                            <div class="col col-sm-10 col-md-10 ">
                                <div class="form-group ">
                                    <input type="text " name="comment " class="form-control rounded-0 " value="Enter comment... ">
                                </div>
                            </div>
                            <div class="col col-sm-2 col-md-2 ">
                                <button class="btn btn-warning rounded-0 ">Submit</button>
                            </div>
                        </div>
                        <div class="comment-section ">
                            <span class="text-success bg-faded ">Nice Aritcle...</span>
                            <span class="text-success ">Wow...Nice!</span>
                            <span class="text-success ">Nice one...Great thanks...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 ">
                <div class="card rounded-0 shadow-sm ">
                    <div class="card-header ">
                        Category
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item "><a href="# ">Social</a></li>
                        <li class="list-group-item "><a href="# ">Sports</a></li>
                        <li class="list-group-item "><a href="# ">Technology</a></li>
                        <li class="list-group-item "><a href="# ">Trend's</a></li>
                        <li class="list-group-item "><a href="# ">Samsung</a></li>
                    </ul>
                    <div class="card-footer ">
                        <span class="text-info "> Ads will be goes here</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main content ends -->
    <div class="footer-section mt-5 ">
        <p class="text-center m-0 text-white ">2022 © Copyright by HPC</p>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>